/*
Style for Lightbox of Urania Image Gallery

Author: Mathias Beke
Url: http://denbeke.be
Date: September 2013
*/

#overlay {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	display: none;
	text-align: center;
	vertical-align: middle;
	overflow: scroll;
}

#lightboxContent {
    overflow: scroll;
}

#lightboxContent img {
    max-width: 800px;
    max-height: 600px;
    
}