/*
Basic Style for Urania Image Gallery

Author: Mathias Beke
Url: http://denbeke.be
Date: September 2013
*/


@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url('./font/Open-Sans-300-normal.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url('./font/Open-Sans-400-normal.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('./font/Open-Sans-600-normal.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url('./font/Open-Sans-700-normal.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('./font/Open-Sans-300-italic.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url('./font/Open-Sans-400-italic.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('./font/Open-Sans-600-italic.woff') format('woff');
}





html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f1f1f1; /* #f2f2f2 */
	font-family: 'Open Sans';
}




.page {
	/*
	Width of image = 270px + 2px (for border)
	Margin = 30px each side
		=> 332 * 3 = 996
	*/
	width: 996px;
	margin: auto;
}


/* Header *
**********/


.header-container {
	//width: 100%;
	margin: 0;
	padding: 0 2.5%;	
	background-color: #fafafa;
}

header {
	max-width: 940px;
	margin: 0 auto;
	border-bottom: 1px #ccc solid;
	padding-top: 2em;
}


#site-title {
	text-align: left;
	margin: 0;
}

#site-title a {
	color: #444;
	text-decoration: none;
	font-weight: 300;
}

#site-title a:hover {
	color: #222;
}

#album-nav {
	padding-top: 1em;
	padding-bottom: 1em;
}

#album-nav ul {
	padding: 0;
	margin: 0;
}

#album-nav li {
	display: inline-block;
}

#album-nav a {
	display: block;
	padding: 0.5em;
	margin-right: 1em;
	margin-bottom: 1em;
	font-size: 0.9em;
	color: #444;
	text-decoration: none;
	background-color: #f1f1f1;
	border: 1px #ddd solid;
	
	transition: all 0.1s;
}

#album-nav a:hover {
	border-color: #aaa;
}


/* Home */

#home {
	padding-top: 30px;
	padding-bottom: 30px;
}

#home div.home-album-image-container {
	width: 270px;
	height: 240px;
	box-shadow: 0 0 1px rgba(0,0,0,0.3) inset;
	transition: opacity 0.2s;
	text-align: center;
}

#home li a:hover div.home-album-image-container {
	opacity: 0.8;
}

#home div.home-album-title {
	height: 30px;
	box-sizing: border-box;
	padding: 4px;
}

#home div.home-album-title h3 {
	margin: 0;
	font-size: 0.95em;
	font-weight: 500;
	line-height: 22px;
}

#home div.home-album-image-container span {
	font-size: 2em;
	line-height: 240px;
}

#home li a {
	color: #444;
	text-decoration: none;
}


#home li {
	float: left;
	margin: 30px;
	padding: 0px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	//box-shadow: 0 0 2px rgba(0,0,0,0.3);
}


#home li a {

}

#home li a:hover {
}

#home li h3 {
}



/* Album *
*********/

#adminTitle,
#homeTitle,
#album h1 {
	text-align: center;
	/* font: normal bold 3em 'Bad Script', cursive; */
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 2em;
	font-style: italic;
	color: #333;
	margin-top: 30px;
	margin-bottom: 0;
}

#home ul,
#album ul {
	padding: 0;
	margin: 0;
	overflow: auto;
	margin: auto;
	list-style: none;
}



#album ul li {
	float: left;
	width: 270px;
	height: 270px;
	
	margin: 30px;
	padding: 0px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;

}

#album {
	padding-bottom: 30px;
}




/* Footer *
**********/

.footer-wrapper {
	padding: 0 2.5%;
	background-color: #fff;
}


footer {
	max-width: 940px;
	margin: 0 auto;
	border-top: 1px #ccc solid;
	padding-top: 2em;
	padding-bottom: 2em;

	color: #444;
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 0.9em;
}

footer a {
	color: #444;
	text-decoration: underline;
}

footer a:hover {
	color: #000;
}




/* Responsive part */
@media screen and (max-width: 996px) {

	.page {
		width: 664px !important;
		max-width: 664px;
		text-align: center;
		
	}

	header,
	footer {
		max-width: 604px;
	}

}

@media screen and (max-width: 664px) {

	.page {
		max-width: 332px;
		text-align: center;	
		padding: 0;
	}
	
	header,
	footer {
		max-width: 272px;
	}
	
	header {
		text-align: center;
	}
	
	#home ul,
	#album ul {
		width: 272px;
		padding: 0;
		margin: 0 auto;
	}
	
	#home ul li,
	#album ul li {
		margin-left: auto;
		margin-right: auto;
	}


}